name: Build and push the latest build to staging

on:
  push:
    branches: [ main ]

jobs:
  build_push_image:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          registry: ${{secrets.ACR_NAME}}
          username: ${{secrets.ACR_LOGIN}}
          password: ${{secrets.ACR_PASSWORD}}

      - name: Build and push staging images
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: ${{secrets.ACR_NAME}}/api-template:latest
          push: true
